/* images */

img {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin-top: 15px;
    cursor: pointer;
}

.featured-image {
    max-width: 1100px;
}

/* image modal */

.modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(248, 246, 240, 0.9);
    z-index: 12;
}

.modal-content {
    margin: auto;
    pointer-events: none;
}

#api-img {
    margin: auto;
    max-width: 1200px;
    box-shadow: 0 5px 20px #b9b9b9;
    border-radius: 5px;
}

.closeBtn {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    font-size: 3rem;
}

/* typography */

h1,
.date {
    text-align: center;
}

.date {
    margin-bottom: 0px;
}

h1 {
    max-width: 1000px;
}

h2 {
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

h3 {
    margin-top: 20px;
    font-size: 24px;
}

p {
    line-height: 30px;
    margin: 10px 0px 30px 0px;
}

/* layout */

.body {
    margin: 0 auto;
}

.blog-container {
    display: grid;
    grid-template-columns: 1fr;
}

.intro {
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 50px;
    background-color: var(--background);
}

.post-container {
    display: grid;
    justify-items: center;
    background-color: var(--coral);
    padding-bottom: 100px;
}

.post-content {
    margin-top: 20px;
    max-width: 700px;
    padding: 10px;
}

.post-content h2 {
    margin: 50px 0px;
}

.post-content h3 {
    margin: 50px 0px 10px 0px;
}

.sign-up-newsletter {
    background-color: var(--background);
}
